<% layout("grsuperman_layout") %>
<div  ng-controller="HomeCtrl" ng-init="load('<%=dd_config.corpId%>','<%=dd_config.timeStamp%>','<%=dd_config.nonceStr%>','<%=dd_config.signature%>','<%=dd_config.agentId%>','<%= userInSession%>')">
    <div class="am-panel am-panel-secondary am-margin-sm">
        <div class="am-panel-hd">水果件 {{user.name}}</div>
        <div class="am-panel-bd">
            <form name="myForm" ng-submit="search()">
                <div class="am-form-group am-form-icon" style="margin-bottom: 0;">
                    <i class="am-icon-search " style="color: #a1a1a1;"></i>
                    <input type="number" class="am-form-field am-round" style="background-color: #fff;opacity: 0.9; width: 100%;" placeholder="输入至少6位订单号" name="search" ng-model="orderId">
                </div>
            </form>
            <ul class="am-avg-sm-2">
                <li class="am-padding-sm">
                    <button type="button" class="am-btn am-btn-danger am-radius am-btn-block" ng-click="scan('get')">扫码领单</button>
                </li>
                <li class="am-padding-sm">
                    <button type="button" class="am-btn am-btn-secondary am-radius am-btn-block" ng-click="scan('search')">扫码查单</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="am-panel am-panel-secondary am-margin-sm" ng-repeat="order in orders">
        <div class="am-panel-hd" >
            <span ng-bind="order.areaName"></span>
            <span ng-bind="order.type | orderType"></span>
            <span ng-bind="order.orderid"></span>
            <span ng-if="order.expresstype=='定时送达'" class="am-text-danger am-fr">定时达</span>
        </div>
        <div class="">
            <div class="am-margin-sm">
                <p class="am-margin-0">地址:<span ng-bind="order.toStreet"></span></p>
                <p class="am-margin-0">收件人:<span ng-bind="order.toName"></span><a href="tel:{{order.toPhone}}" ng-bind="order.toPhone"></a> </p>
                <p class="am-margin-0 am-text-xs ">订单状态:<span ng-bind="order.status | orderState " class="am-text-danger"></span></p>
            </div>
            <div class="am-g am-g-fixed am-margin-bottom-sm">
                <div class="am-u-sm-12">
                    <button class="am-btn am-btn-block am-btn-sm am-round am-btn-success" ng-click="take(event,order.orderid,order,$index)">领取</button>
                </div>
            </div>
        </div>
    </div>
    <div class="am-panel am-panel-default am-padding-sm" ng-if="orders.length === 0">
        <p class="am-margin-bottom-0 am-text-danger"> 没有可领取的订单信息！！！(订单可能未打包完成或已派送完成或被撤销)，请勿领取</p>
    </div>
</div>

<% block('footer').append('<script src="js/home.js"></script>') %>
<!---启用底部navbar-->
<% include ../navbar.ejs %>